  body{
    margin: 0;
    padding: 0;
    border:0;
    height: 1300px;
    /*background-color: rgb(240,255,200);*/
  }
  #salesbody, #salestablebody {
    height: 1000px;
  }
  p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start:0;
    margin-inline-end:0;
    padding: 0;
    border: 0;
    display: inline-block;
    
  }
/* got the nav bar here  html information for nav bars found here https://www.w3schools.com/css/css_navbar.asp*/
  header {
    width: 100%;
    height: 150px;
    background-color: rgb(59, 64, 57);
    
  }

  nav{
    float: inline-start;
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 960px;
    height: 100px;
    
  }

  header nav ul li{
    list-style-type: none;
  }

  header nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
  }

  li{
    float: left;
    height: 70px;
    width: 200px;
  }

  li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    margin-top:51px;
    font-size: 30px;
    font-family: "Helvetica", sans-serif;
    
  }
  li a:hover{
    background-color: rgb(200, 128, 114); 
  }

  a #home { /*navbar image*/
    margin-top: 31px;
    width: 200px;
    height: 70px;
    border-radius: 0px 32px 0px 0px;
  }
/*the code bellow is for the top box that has for elements  hero960x450 and three elements with a size of300x375*/

/* this has the hero picture*/
 
  main{
    margin: 0 auto;
    width: 960px;
    height: 480px;
    background-color: rgb(250, 128, 114);
    margin-top: 30px;
  }
  main div section{
    width: 100%;
    height: 920px;
  }
  #mascot {  /*hero image*/
    border-radius: 10px 0px 10px 0px;
    width: 960px;
    height: 450px;
  }
  
  main {
    border-radius: 20px 0px 0px 0px;
    padding: 10px;
  }
  #mainpage{
    height: 500px;
  }
  section {
    border-radius: 0px 0px 20px 0px;
    padding: 10px;
  }

  h1, h2{
    text-align: center;
    }
  section p{
    font-family: "Sriracha", cursive;
  }

  #footerparagraph {
    color: rgb (255, 255, 255);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  

  /*this will have the section with the table data*/
  section {
    border: 0;
    margin: 0 auto;
    width: 960px;
    height: 400px;
    background-color: rgb(250, 128, 114);
  }
  table, th,td {/*unorder list*/
    border: 1px rgb(255, 255, 255) solid;
    

  }
  
  form{
    display: inline;
  }

  form input{
    height: 30px;
    width: 100px;
  }

  footer{
    margin-top: 30px;
    display: inline-block;
    vertical-align: bottom;
    background-color: rgb(59, 64, 57);
    width: 100%;
    height: 100px;
  }
  